body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
     padding: 0 30% 0 30%;
     background-color: black;
     flex: 1;
     margin-bottom: 0px;
}
.body{
    /* padding: 0 10% 0 10%; */
     flex: 1;
     background-color: white;
     
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2a38;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}
.upperinfo{
       display: flex;
       flex-direction: row;
    justify-content: space-between;
    background-color: #1f2a38;
    align-items: flex-start;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    height: 300px;
    font-weight: bold;
    justify-content: flex-start;
}
ul, li {
display: flex;
list-style: none;
gap: 18px;
text-decoration: none;
color: white;
}
.infoheader{
    display: flex;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0px 0px ;
}
.info{
  background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-left: 20%;
    margin-right: 20%;
  height: 300px;
  
     padding: 20px 0px 0px ;
}
.uinfohead{
    margin-top: 50px;
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.uinfotext{
    font-weight: lighter;
}
.card{
     box-shadow: 2px 4px 16px rgba(10, 61, 230, 0.06);
    border-radius: 8px;
    border: 2px solid cornflowerblue;
    flex: 1;
    gap: 10px;
}

.quotes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 20px 0 20px 0;
    background-color: lightgray;
    height: 200px;
    padding-left: 30%;
    padding-right: 30%;
}
.signupbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: cornflowerblue;
      box-shadow: 2px 4px 16px rgba(10, 61, 230, 0.06);
    border-radius: 8px;
    border: 2px solid cornflowerblue;
    margin-left: 20%;
    margin-right: 20%;
    height: 100px;
    /* padding-bottom: 50px; */
    margin-top: 50px;
      align-items: center;
   
}
.signup{
  padding-bottom: 50px;
}
.suhead{
    font-weight: bold;
 gap: 30px;
    display: flex;
}
.sutext{
    display: flex;
    
    }




footer{
    padding: 20px 0 20px;
    margin-top: 0px;
display: flex;
color: white;
justify-content: center;
align-items: center;
background-color: #1f2a38;
}
button{
    color: white;
    background-color: #3b82f5;
      box-shadow: 2px 4px 16px rgba(255, 255, 255, 0.06);
      border-radius: 4px;
    border: 2px solid cornflowerblue;
    width: 100px;
    height: 24px;
    font-weight: bold;
    /* border-color: #1f2a38; */
}
#link{
    text-decoration: none;
    color: white;
    /* gap:calc() */
    justify-content: flex-end;
}
.imgholder{
    margin-top: 50px;
    display: flex;
    /* flex-direction: row; */
    background-color: #6d747d;
    box-shadow: 2px 4px 16px rgba(255, 255, 255, 0.06);
    border-radius: 2px;
    width: 300px;
    height: 100px;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    color: white;
    border-color: white;
    /* align-items: flex-end; */
}
.boxone .boxtwo{
margin-top: 50px;
display: flex;
flex-direction: row;
}
.sulower{
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
    color: white;
}
.suupper{
       justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 50px; 
    color: white;
}